EXPO_PUBLIC_FIREBASE_REPORT_ENDPOINT=https://australia-southeast1-YOUR_FIREBASE_PROJECT_ID.cloudfunctions.net/sendReport
EXPO_PUBLIC_JOB_LIST_URL=
EXPO_PUBLIC_EMAILJS_SERVICE_ID=
EXPO_PUBLIC_EMAILJS_TEMPLATE_ID=
EXPO_PUBLIC_EMAILJS_PRESTART_TEMPLATE_ID=
EXPO_PUBLIC_EMAILJS_INCIDENT_TEMPLATE_ID=
EXPO_PUBLIC_EMAILJS_PURCHASE_TEMPLATE_ID=
EXPO_PUBLIC_EMAILJS_PUBLIC_KEY=
